<!DOCTYPE html>
<html>
<head>
    <title>langurs</title>
</head>
<body>
<p>
    Welcome!
</p>
<p>
    <a href="/quick/">Quick plot - heatmap</a><br>
    <a href="/langur/">Plot with number of langurs and information</a><br>
    <a href="/time/">Cut by Time of Day</a>
</p>
<p>
    <b>Cut by Behaviour</b><br>
    <a href="/sighting/">First sighting</a><br>
    <a href="/defecate/">Defecate</a><br>
    <a href="/feed/">Feed</a><br>
    <a href="/mate/">Mate</a><br>
    <a href="/play/">Play</a><br>
    <a href="/rest/">Rest</a><br>
    <a href="/travel/">Travel</a><br>
    <a href="/vocalise/">Vocalise</a>
</p>
</body>
</html>