<!DOCTYPE html>
<html>
<head>
    <title>langurs</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
</head>
<body>

    <div>
        <h2>Langurs</h2>
        Welcome!
    </div>
        <div class="nav">
                <div class="container">
                  <ul>
                    <h3>General plots</h3>
                    <li><a href="/quick/">Quick plot - heatmap</a></li>
                    <li><a href="/langur/">Plot with number of langurs and information</a></li>
                    <li><a href="/time/">Cut by Time of Day</a></li>
                </ul>
                  <ul>
                    <h3>Cut by Behaviour</h3>
                    <li><a href="/sighting/">First sighting</a></li>
                    <li><a href="/defecate/">Defecate</a></li>
                    <li><a href="/feed/">Feed</a></li>
                    <li><a href="/mate/">Mate</a></li>
                    <li><a href="/play/">Play</a></li>
                    <li><a href="/rest/">Rest</a></li>
                    <li><a href="/travel/">Travel</a></li>
                    <li><a href="/vocalise/">Vocalise</a></li>
                  </ul>
                </div>
              </div>


</body>
</html>